@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html{
    background-size: cover;
    height: 120%;
    width: 100%;
    overflow: hidden;
}
body{
    font-family: 'Kanit', sans-serif;
    background-image: url("../images/scene_khengroom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    overflow: hidden;
}
main{
    height: auto;
}
.container{
    width: auto;
    margin: 0;
}
.content{
    color: rgb(179, 179, 179);
}
.text{
    position: absolute;
    font-size: 1.5rem;
    animation: text-twinkling 3s infinite;
    animation-fill-mode: forwards;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dot{
    cursor: pointer;
    position: absolute;
    left: 59.25%;
    top: 53%;
    background: grey;
    border-radius: 40px;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.circle{
    position: absolute;
    left: -45%;
    top: -40%;
    background-color: grey;
    border-radius: 40px;
    width: 3.75rem;
    height: 3.75rem;
    opacity: 0.75;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.light{
    opacity: 0.3;
    rotate: 2deg;
    background-size: cover;
    position: absolute;
    width: 900px;
    height: 1000px;
    z-index: -1;
    background-image: url("../images/light_khengroom.png");
    top: 63%;
    left: 43.5%;
    animation: light 2s infinite;
    transform: translate(-50%, -50%);
}
@keyframes light{
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    55%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes text-twinkling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media (width<=1700px){
    .light{
        transform: translate(-50%, -50%);
    }
}@media (width<=1600px){
    .light{
        transform: translate(-52%, -50%);
    }
    .dot{
        transform: translate(200%, -50%);
    }
}
@media (width<=1300px){
    .light{
        transform: translate(-55%, -50%);
    }
}
@media (width<=1000px){
    .dot{
        transform: translate(300%, -50%);
    }
    .light{
        transform: translate(-57%, -50%);
    }
}
@media (width<=700px){
    .light{
        transform: translate(-60%, -50%);
    }
}
@media (width<=600px){
    .light{
        transform: translate(-60%, -50%);
    }
}
@media (width<=400px){
    .dot{
        transform: translate(200%, -50%);
    }
}